<po-page-default p-title="Movimentos pendentes!">

  <p>
      Um movimento está pendente quando ele não está associado à uma fatura. Um movimento pendente pode ocorrer ao receber um pagamento acima do valor esperado. Confira o exemplo abaixo:<br>

      Um boleto no valor de R$ 100,00 foi emitido através da plataforma Vindi.<br>
      Por descuido do cliente, o valor a pagar no home banking foi informado como R$ 105,00.<br>
      Ao receber o retorno da remessa do banco, a plataforma Vindi executa as seguintes ações:<br>
      O valor do pagamento (R$ 105,00) é comparado com o valor original esperado (R$ 100,00).<br>
      Como o valor recebido é maior que o esperado, o status da cobrança é alterado para Pagamento efetuado.<br>
      Um movimento de crédito no valor de R$ 5,00 é gerado no cadastro do cliente e se mantém pendente até que uma nova fatura seja gerada.<br>
      O movimento de crédito será automaticamente incluído na próxima fatura emitida para o mesmo cliente. <br>
      Caso o valor do movimento de crédito seja superior ao valor da próxima fatura, a plataforma aplicará o crédito parcialmente e criará um novo com o valor restante.<br>
     <br>
      Resumo<br>
      Os movimentos de crédito ocorrem nas seguintes condições:<br>
      <br>
      Cliente efetua pagamento acima do valor original;<br>
      Cliente efetua pagamento do boleto duas ou mais vezes;<br>
      Cliente efetua pagamento do boleto após cancelamento da cobrança.<br>
  </p>
  
</po-page-default>
